{{!-- <link rel="stylesheet" href="stylesheets/payment.css">
<link rel="stylesheet" href="stylesheets/normalize.css"> --}}
{{!-- <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <input type="hidden" name="userIdentificator" value="{{user._id}}">
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Card Holder Name</label>
                        <input type="text" id="card-name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">Expiration Month</label>
                                <input type="text" id="card-expiry-month" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Expiration Year</label>
                                <input type="text" id="card-expiry-year" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">CVC</label>
                        <input type="text" id="card-cvc" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
    </div>
</div> --}}

{{!-- <body>
    <div class="container">
        <input type="hidden" name="userIdentificator" value="{{user._id}}">
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <div class="mGrid">
            <div class="total">
                <p>total</p>
                <p>${{total}}</p>
            </div>
            <div class="detail">
                <p>Deatlii</p>

                <ul>
                    <li>iPad Pro</li>
                    <li>$799</li>
                </ul>
            </div>
            <button>pay now</button>
        </div>
        <!-- Small Side Card detail-->
        <div class="subContainer">
            <!-- svg Logo-->
            <div class="visaCont">
                <svg class="visa" enable-background="new 0 0 291.764 291.764" version="1.1" viewbox="5 70 290 200"
                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <path class="svgcolor"
                        d="m119.26 100.23l-14.643 91.122h23.405l14.634-91.122h-23.396zm70.598 37.118c-8.179-4.039-13.193-6.765-13.193-10.896 0.1-3.756 4.24-7.604 13.485-7.604 7.604-0.191 13.193 1.596 17.433 3.374l2.124 0.948 3.182-19.065c-4.623-1.787-11.953-3.756-21.007-3.756-23.113 0-39.388 12.017-39.489 29.204-0.191 12.683 11.652 19.721 20.515 23.943 9.054 4.331 12.136 7.139 12.136 10.987-0.1 5.908-7.321 8.634-14.059 8.634-9.336 0-14.351-1.404-21.964-4.696l-3.082-1.404-3.273 19.813c5.498 2.444 15.609 4.595 26.104 4.705 24.563 0 40.546-11.835 40.747-30.152 0.08-10.048-6.165-17.744-19.659-24.035zm83.034-36.836h-18.108c-5.58 0-9.82 1.605-12.236 7.331l-34.766 83.509h24.563l6.765-18.08h27.481l3.51 18.153h21.664l-18.873-90.913zm-26.97 54.514c0.474 0.046 9.428-29.514 9.428-29.514l7.13 29.514h-16.558zm-160.86-54.796l-22.931 61.909-2.498-12.209c-4.24-14.087-17.533-29.395-32.368-36.999l20.998 78.33h24.764l36.799-91.021h-24.764v-0.01z"
                        fill="#FFF"></path>
                    <path class="svgtipcolor"
                        d="m51.916 111.98c-1.787-6.948-7.486-11.634-15.226-11.734h-36.316l-0.374 1.686c28.329 6.984 52.107 28.474 59.821 48.688l-7.905-38.64z"
                        fill="#EFC75E"></path>
                </svg>
            </div>
            <div class="cardNum">
                <ul>
                    <li>
                        <input type="text" value="Numarul cardului de credit">
                    </li>
                </ul>
            </div>
            <div class="date">
                <input type="text" class="datepara datepara1" value="" placeholder="luna"></input>
                <input type="text" class="datepara datepara2" value="" placeholder="anul"></input>
            </div>
            <div class="ccv">
                <input type="text" value="ccv"></input>
            </div>
        </div>
    </div>
    <div class="backlayer"></div>
</body> --}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="assets/css/all.css" />
<link rel="stylesheet" href="../assets/css/oglinzi.css" />
<link rel="stylesheet" href="stylesheets/card.css">
<style>
    body {
        display: block;
        overflow-x: hidden;
    }

    .mainContainer {
        max-width: 444px;
        margin: 0 auto;
    }

    .nav-icon {
        margin-right: 30px;
    }

    nav>div>.dropdown>.nav-icon {
        width: 40px;
    }

    nav>div:nth-child(2) {
        display: flex;
        justify-content: flex-end;
    }

    .dropdown-content2 {
        width: 80px;
        color: #484848;
    }

    .dropdown-content2>p:nth-child(1)>a {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #484848;
        position: relative;
        top: -6px;
    }

    .dropdown-content2>p:nth-child(3)>a {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #484848;
        position: relative;
        top: 6px;
    }

    ::placeholder {
        color: black !important;
        opacity: .5;
    }

    label {
        padding-bottom: 5px;
        font-size: 14px;
        color: black;
        margin-left: 5px;
        opacity: .9;
    }

    @media screen and (max-width: 1920px) and (min-width: 300px) {
        .mainContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 890px;
        }

        .text-block {
            width: 100%;
            height: 230px;
            margin-top: 300px;
        }

    }
</style>

<title>Oglinzi.biz</title>


<body>
    <div class="not-available-error">
        <i class="fas fa-exclamation-triangle"></i>
        <h1>Sorry, your device is not supported</h1>
        <h2>
            But, don't worry ;) Try using a device with a screen wider than 320px
        </h2>
        <i class="fas fa-tablet-alt"></i>
    </div>
    <div>
        <header>
            <!-- <video class="video" src="assets/video/header.mp4" autoplay="autoplay" loop></video> -->
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" style="font-weight: bold;" class="closebtn" onclick="closeNav()">×</a>
                <a href="/">Acasa <i class="fas fa-chevron-right"></i></a>
                <a href="/products/1">Oglinzi <i class="fas fa-chevron-right"></i></a>
                <a href="/#despre">Despre noi<i class="fas fa-chevron-right"></i></a>
                <a href="/contacts">Contacte<i class="fas fa-chevron-right"></i></a>
            </div>
            <nav>
                <p class="logo">
                    <a href="index.html">oglinzi<span class="biz">.biz</span></a>
                    <span onclick="openNav(80)" class="burger"><i class="fas fa-bars"></i></span>
                </p>
                <div>
                    <ul class="nav-list">
                        <li><a href="/">Acasa</a></li>
                        <li><a href="/products/1">Oglinzi</a></li>
                        <li><a href="/#despre">Despre noi</a></li>
                        <li><a href="/contacts">Contacte</a></li>
                    </ul>
                    <a href="/shopping-cart">
                        <img class="nav-icon" width="21" height="27" src="assets/img/shopping-bag-black.svg"
                            alt="" /></a>

                    <div class="dropdown">
                        <img class="nav-icon" width="27" height="27" src="assets/img/account-black.svg" alt="" />
                        <div class="dropdown-content2 dropdown-content">
                            <p><a href="/profile">
                                    Profile</a></p>
                            <hr>
                            <p><a href="/logout">
                                    Logout</a></p>
                        </div>
                    </div>

                    <div class="dropdown">
                        <span>RO</span>
                        <div class="dropdown-content">
                            <p><a href="/">RO</a></p>
                            <p><a href="indexrus.html">RU</a></p>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <h1 style="color: black; font-size: 2rem; margin: 20px 0; font-weight: 400;">Achitarea comenzii cu pretul total
            de:
            <b style="font-weight: 800;">${{total}}</b></h1>
        <div class="mainContainer">
            <div class="container3 preload">
                <div class="creditcard">
                    <div class="front">
                        <div id="ccsingle"></div>
                        <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 471"
                            style="enable-background:new 0 0 750 471;" xml:space="preserve">
                            <g id="Front">
                                <g id="CardBackground">
                                    <g id="Page-1_1_">
                                        <g id="amex_1_">
                                            <path id="Rectangle-1_1_" class="lightcolor grey" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                            C0,17.9,17.9,0,40,0z" />
                                        </g>
                                    </g>
                                    <path class="darkcolor greydark"
                                        d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                                </g>
                                <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber"
                                    class="st2 st3 st4">0123
                                    4567
                                    8910
                                    1112</text>
                                <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6">JOHN
                                    DOE</text>
                                <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">cardholder
                                    name</text>
                                <text transform="matrix(1 0 0 1 479.7754 388.8793)"
                                    class="st7 st5 st8">expiration</text>
                                <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">card
                                    number</text>
                                <g>
                                    <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire"
                                        class="st2 st5 st9">01/23</text>
                                    <text transform="matrix(1 0 0 1 479.3848 417.0097)"
                                        class="st2 st10 st11">VALID</text>
                                    <text transform="matrix(1 0 0 1 479.3848 435.6762)"
                                        class="st2 st10 st11">THRU</text>
                                    <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9 		" />
                                </g>
                                <g id="cchip">
                                    <g>
                                        <path class="st2" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                        c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z" />
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="82" y="70" class="st12" width="1.5" height="60" />
                                        </g>
                                        <g>
                                            <rect x="167.4" y="70" class="st12" width="1.5" height="60" />
                                        </g>
                                        <g>
                                            <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                            c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                            C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                            c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                            c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z" />
                                        </g>
                                        <g>
                                            <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5" />
                                        </g>
                                        <g>
                                            <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5" />
                                        </g>
                                        <g>
                                            <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5" />
                                        </g>
                                        <g>
                                            <rect x="142" y="117.9" class="st12" width="26.2" height="1.5" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g id="Back">
                            </g>
                        </svg>
                    </div>
                    <div class="back">
                        <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 471"
                            style="enable-background:new 0 0 750 471;" xml:space="preserve">
                            <g id="Front">
                                <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11" />
                            </g>
                            <g id="Back">
                                <g id="Page-1_2_">
                                    <g id="amex_2_">
                                        <path id="Rectangle-1_2_" class="darkcolor greydark" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                        C0,17.9,17.9,0,40,0z" />
                                    </g>
                                </g>
                                <rect y="61.6" class="st2" width="750" height="78" />
                                <g>
                                    <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                    C707.1,246.4,704.4,249.1,701.1,249.1z" />
                                    <rect x="42.9" y="198.6" class="st4" width="664.1" height="10.5" />
                                    <rect x="42.9" y="224.5" class="st4" width="664.1" height="10.5" />
                                    <path class="st5"
                                        d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z" />
                                </g>
                                <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity"
                                    class="st6 st7">985</text>
                                <g class="st8">
                                    <text transform="matrix(1 0 0 1 518.083 280.0879)" class="st9 st6 st10">security
                                        code</text>
                                </g>
                                <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                                <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                                <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback"
                                    class="st12 st13">John
                                    Doe</text>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="text-block">
                    {{# each cart}}
                    <div class="textCont">
                        {{ cart.totalPrice }}
                    </div>
                    {{/each}}
                </div>
            </div>
            <form action="/checkout" method="post" id="checkout-form" class="form-container">
                <div class="field-container">
                    <label for="card-name">Numele proprietarului cardului</label>
                    <input id="card-name" maxlength="20" type="text" required
                        placeholder="Numele proprietarului cardului" name="name">
                </div>
                <div class="field-container">
                    <label for="email">Email</label>
                    <input id="email" maxlength="30" type="text" required placeholder="Email" name="email">
                </div>
                <div class="field-container">
                    <label for="phone">Numar de telefon</label>
                    <input id="phone" maxlength="20" type="text" required placeholder="phone" name="phone">
                </div>
                <div class="field-container">
                    <label for="adresa">Adresa</label>
                    <input id="adresa" maxlength="20" type="text" required placeholder="Adresa" name="address">
                </div>
                <div class="field-container">
                    <label for="card-number">Numarul cardului</label>
                    <input id="card-number" type="text" required placeholder="Numarul cardului">
                    <svg id="ccicon" class="ccicon" width="750" height="471" viewBox="0 0 750 471" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                    </svg>
                </div>
                <div class="field-container">
                    <input type="hidden" name="userIdentificator" value="{{user._id}}">
                    <label for="card-expiry-month">Luna expirarii</label>
                    <input id="card-expiry-month" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2"
                        required placeholder="luna expirarii">
                </div>
                <div class="field-container">
                    <label for="card-expiry-year">Anul expirarii</label>
                    <input id="card-expiry-year" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" required
                        placeholder="anul expirarii">
                </div>
                <div class="field-container">
                    <label for="card-cvc">Codul de securitate</label>
                    <input id="card-cvc" type="text" pattern="[0-9]*" inputmode="numeric" required
                        placeholder="Codul de securitate">
                </div>
                <button type="submit" class="btn btn-success">Buy now</button>
            </form>
        </div>
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/language.js"></script>
        <script>
            setInterval(myMethod, 4000);
            var k = 0;

            function myMethod() {
                if (k > 3) k = 1;
                else k++;

                if (k == 1) {
                    $(".testimonials>:nth-child(2)").show("slow");
                    $(".testimonials>:nth-child(3)").hide("slow");
                    $(".testimonials>:nth-child(4)").hide("slow");
                    $(".testimonials>:nth-child(5)").hide("slow");
                } else if (k == 2) {
                    $(".testimonials>:nth-child(2)").hide("slow");
                    $(".testimonials>:nth-child(3)").show("slow");
                    $(".testimonials>:nth-child(4)").hide("slow");
                    $(".testimonials>:nth-child(5)").hide("slow");
                } else if (k == 3) {
                    $(".testimonials>:nth-child(2)").hide("slow");
                    $(".testimonials>:nth-child(3)").hide("slow");
                    $(".testimonials>:nth-child(4)").show("slow");
                    $(".testimonials>:nth-child(5)").hide("slow");
                } else if (k == 4) {
                    $(".testimonials>:nth-child(2)").hide("slow");
                    $(".testimonials>:nth-child(3)").hide("slow");
                    $(".testimonials>:nth-child(4)").hide("slow");
                    $(".testimonials>:nth-child(5)").show("slow");
                }
            }
        </script>
        <script src="/assets/js/sideBar.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript" src="js/checkout.js"></script>
        <script type="text/javascript" src="js/card.js"></script>